In [1]:
import numpy as np
import pandas as pd
%load_ext autoreload
%autoreload 2

In [2]:
from src.aggregate_team_stats_class import AggregatedStats
from src.get_team_game_stats import YearlyTeamStats
from src.clean_game_ids import game_id_cleaner

In [3]:
stats_2014 = pd.read_csv('data/stats_2014.csv')
stats_2015 = pd.read_csv('data/stats_2015.csv')
stats_2016 = pd.read_csv('data/stats_2016.csv')
stats_2017 = pd.read_csv('data/stats_2017.csv')
stats_2018 = pd.read_csv('data/stats_2018.csv')
stats_2019 = pd.read_csv('data/stats_2019.csv')

In [4]:
all_seasons = pd.concat([stats_2014, stats_2015, stats_2016, stats_2017, stats_2018, stats_2019])
all_seasons.drop(columns='Unnamed: 0', inplace=True)

In [5]:
df = all_seasons.copy()

In [6]:
df = game_id_cleaner(df)

In [7]:
df

,game_id,season,week,team,opponent,playing_at_home,passAttempts,passCompletions,passPct,passGrossYards,...,kr20Plus,fgMade,field_goal_pct,punt_inside_20_pct,third_down_pct,fourth_down_pct,penalties,team_score,opponent_score,win_game
0,30524,2014,1,ARI,SD,1,37,24,64.9,304,...,1,2,100.0,0.0,46.2,0.0,5,18,17,1
1,30279,2014,2,ARI,NYG,0,29,14,48.3,167,...,1,4,100.0,50.0,38.5,0.0,7,20,14,1
2,30300,2014,3,ARI,SF,1,34,19,55.9,254,...,0,3,100.0,0.0,61.5,100.0,5,23,14,1
3,30328,2014,5,ARI,DEN,0,34,12,35.3,199,...,0,2,100.0,9.1,18.8,0.0,3,20,41,0
4,30344,2014,6,ARI,WAS,1,44,28,63.6,250,...,1,3,100.0,57.1,41.2,0.0,14,30,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,51642,2019,13,WAS,CAR,0,25,13,52.0,147,...,0,3,75.0,40.0,27.3,0.0,6,29,21,1
3036,51662,2019,14,WAS,GB,0,27,16,59.3,170,...,0,1,100.0,33.3,36.4,0.0,3,15,20,0
3037,51671,2019,15,WAS,PHI,1,28,19,67.9,261,...,2,2,100.0,50.0,40.0,0.0,5,27,37,0
3038,51687,2019,16,WAS,NYG,1,36,28,77.8,302,...,1,0,0.0,20.0,57.1,0.0,6,35,41,0
3039,51707,2019,17,WAS,DAL,0,37,18,48.6,206,...,1,3,100.0,25.0,8.3,0.0,2,16,47,0

In [8]:
team_stats_aggregated = AggregatedStats(df, 6)

In [10]:
team_stats_aggregated.aggregated_stats.to_csv('data/aggregated_2014_to_2019.csv', index=False)

In [15]:
team_stats_aggregated.aggregated_stats.drop(columns=['level_0','index'], inplace=True)

In [16]:
team_stats_aggregated.aggregated_stats.to_csv('data/aggregated_2014_to_2019.csv', index=False)